@charset "utf-8";

:root {
  --text-color: #000;
  --btnprimary: #eff6fc;
  --btn-color: #2153a1;
  --hover-color: #77a3ea;
}

/* ===============================
Top Page
=============================== */

body {
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
}

/* p {
  margin: 0;
} */

.container {
  height: auto;
  min-height: 1274px;

  border-radius: 0px 80px 80px 0px;

  background: rgb(224, 237, 250);
  background: linear-gradient(
    133deg,
    rgba(224, 237, 250, 1) 0%,
    rgba(224, 237, 250, 1) 30%,
    rgba(198, 226, 224, 1) 70%,
    rgba(201, 227, 227, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zenkakumedium {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
}

.poppinmedium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.notosansjpmedium {
  font-family: "Noto Sans JP";
  font-weight: 500;
}

.secondcontainer {
  min-width: 1440px;
  min-height: 1274px;
  margin: 30px 0px;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 58px;
  margin-left: 120px;
}

.container .header img {
  width: 30px;
  height: 40px;
  margin-right: 15px;
}

.header h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-size: 34px;
}

.tabbox {
  width: 1160px;
  max-width: 1160px;

  height: auto;

  background-color: white;
  margin-left: 120px;
  margin-right: 80px;
  border-radius: 40px;

  padding: 70px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.contentbox {
  min-width: 940px;

  height: auto;
  min-height: 887px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

.tabmenu {
  display: flex;

  gap: 4px;
  margin-bottom: 20px;
}

.tab_item {
  width: 232px;
  height: 64px;
  background: var(--btnprimary);
  list-style-type: none;
  border-radius: 8px;
}

.tablink {
  width: 232px;
  height: 64px;
  background: var(--btnprimary);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  font-weight: 500;

  text-decoration: none;
  color: black;
  border-radius: 8px;
}

.tablink:hover {
  background-color: var(--hover-color);
}

.tabchild {
  display: none;
}

.tabchild.show {
  display: block;
}

.tablink.active {
  background-color: var(--btn-color);
  color: white;
}

.row {
  width: 940px;
  display: grid;
  grid-template-columns: 4fr 8fr;

  border-bottom: 1px dotted black;
  padding-bottom: 30px;
  padding-top: 20px;
}

.label {
  width: 50px;
  height: 20px;
  background-color: var(--btn-color);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  margin-right: 10px;
}

.labelcontainer {
  display: flex;
  align-items: center;
}

.datetext {
  font-size: 16px;

  margin: 7px 0px;

  color: var(--btn-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  margin: 7px 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins";
}

hr {
  height: 1px;
}

.btn {
  width: 210px;
  height: 55px;

  border-radius: 32px;

  display: flex;

  align-items: center;

  color: white;
  overflow: hidden;

  padding-left: 30px;

  background: rgb(0, 71, 122);
  background: linear-gradient(
    90deg,
    rgba(0, 71, 122, 1) 0%,
    rgba(0, 91, 157, 1) 30%,
    rgba(19, 137, 142, 1) 70%,
    rgba(1, 116, 114, 1) 100%
  );

  position: relative;

  text-decoration: none;
  margin-top: 60px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  border-radius: 25px;
  background-color: rgba(0, 71, 122, 1);
  z-index: 0;
  transition: width 0.4s ease;
}

.btn:hover::before {
  width: 100%;
}

.btnicon {
  width: 36px;
  height: 36px;

  background-color: #fff;

  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.btn span {
  z-index: 1;
}

.btnicon img {
  width: 15px;
  height: 2px;
}

a {
  cursor: pointer;
}

.splink {
  display: none;
}

.text-blue {
  color: var(--btn-color);
}

.houseiconbox {
  display: flex;
}

.houseiconimg {
  width: 20px;
  height: 15px;
}

@media screen and (max-width: 1440px) {
  body {
    grid-template-columns: 1fr 80px;
  }

  .pclink {
    display: none;
  }

  .splink {
    display: inline;
  }

  .container {
    display: block;
  }

  .header {
    margin: 10px 10px;
  }

  .header h1 {
    font-size: 22px;
  }

  .header img {
    width: 20px;
    height: 30px;
  }

  .row {
    width: 94%;
    grid-template-columns: 1fr;
  }

  .secondcontainer {
    width: 95%;
    min-width: 95%;
    min-height: auto;
    margin: 30px auto;
  }

  .tabbox {
    width: 95%;
    min-width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0px;
  }

  .contentbox {
    width: 100%;
    min-width: 100%;
    padding: 22px 18px;
  }

  .tabmenu {
    display: flex;
  }

  .row {
    width: 92%;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin: auto;
  }

  .tablink,
  .tab_item {
    width: 150px;
    height: 56px;
    font-size: 12px;
  }

  .labelcontainer {
    align-items: center;
  }

  .datetext {
    font-size: 12px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr 80px;
  }

  .pclink {
    display: none;
  }

  .splink {
    display: inline;
  }

  .container {
    display: block;
  }

  .header {
    margin: 10px 10px;
  }

  .header h1 {
    font-size: 22px;
  }

  .header img {
    width: 20px;
    height: 30px;
  }

  .row {
    width: 94%;
    grid-template-columns: 1fr;
  }

  .secondcontainer {
    width: 95%;
    min-width: 95%;
    min-height: auto;
    margin: 30px auto;
  }

  .tabbox {
    width: 95%;
    min-width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0px;
  }

  .contentbox {
    width: 100%;
    min-width: 100%;
    padding: 22px 18px;
  }

  .tabmenu {
    display: flex;
  }

  .row {
    width: 92%;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin: auto;
  }

  .tablink,
  .tab_item {
    width: 150px;
    height: 56px;
    font-size: 12px;
  }

  .datetext {
    font-size: 12px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }
  .pclink {
    display: none;
  }

  .splink {
    display: inline;
  }

  .container {
    border-radius: 0;
    display: block;
  }

  .header {
    margin: 10px 10px;
  }

  .header h1 {
    font-size: 22px;
  }

  .header img {
    width: 20px;
    height: 30px;
  }

  .row {
    width: 94%;
    grid-template-columns: 1fr;
  }

  .secondcontainer {
    width: 95%;
    min-width: 95%;
    min-height: auto;
    margin: 30px auto;
  }

  .tabbox {
    width: 95%;
    min-width: 95%;
    height: auto;

    margin: 0 auto;
    padding: 20px 0px;
  }

  .contentbox {
    width: 100%;
    min-width: 100%;
    padding: 22px 18px;
  }

  .tabmenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
  }

  .row {
    width: 92%;
    margin: auto;
  }

  .tablink,
  .tab_item {
    /* width: 160px; */
    width: 100%;
    height: 56px;
    font-size: 14px;
  }

  .labelcontainer {
    flex-direction: column;
    align-items: start;
  }

  .datetext {
    font-size: 12px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  body {
    grid-template-columns: 1fr;
  }

  .container {
    border-radius: 0;
    display: block;
  }

  .header {
    margin: 0 10px;
  }

  .header h1 {
    font-size: 22px;
  }

  .header img {
    width: 20px;
    height: 30px;
  }

  .row {
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr;
  }

  .secondcontainer {
    width: 98%;
    min-width: 98%;
    min-height: auto;
    margin: 30px auto;
  }

  .tabbox {
    width: 95%;
    min-width: 95%;
    height: auto;

    margin: 0 auto;
    padding: 20px 0px;
  }

  .contentbox {
    width: 100%;
    min-width: 100%;
    padding: 22px 10px;
  }

  .tabmenu {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .tablink,
  .tab_item {
    width: 160px;

    height: 56px;
    font-size: 14px;
  }

  .date {
    font-size: 12px;
  }

  .labelcontainer {
    flex-direction: column;
    align-items: start;
  }

  .datetext {
    font-size: 12px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 349px) {
  .datetext {
    font-size: 10px;
  }

  .tablink,
  .tab_item {
    width: 140px;
    height: 50px;
    font-size: 10px;
  }
}
